<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>299026237359-ugisvv2qqb373cvqraob8spohugjo4qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299026237359-ugisvv2qqb373cvqraob8spohugjo4qk</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ouXUKlbqkk-ZPexKy0dB_j-0M_h4CrE</string>
	<key>GCM_SENDER_ID</key>
	<string>299026237359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octto.ThaiTechEventsCalendar</string>
	<key>PROJECT_ID</key>
	<string>thaitecheventscalendar</string>
	<key>STORAGE_BUCKET</key>
	<string>thaitecheventscalendar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299026237359:ios:87f1550f3bfbd1f9</string>
	<key>DATABASE_URL</key>
	<string>https://thaitecheventscalendar.firebaseio.com</string>
</dict>
</plist>